
h1 {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}


.setting-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffede0;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(227, 149, 108);
    transition: background-color 0.3s ease;
}

.setting-item h2 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

.setting-item p {
    font-size: 13px;
    color:  #555;
}

.setting-item:hover {
    background-color: rgb(255, 217, 190);
}


.setting-item:active {
    background-color: rgba(255, 217, 190, 0.8);
}
