/* Tags */
main {
    padding: 3em;
    grid-area: pagina;
    overflow: auto;
}
footer {
    text-align: center;
    align-content: center;
}

*:not(i) {
    font-family: 'Fredoka', sans-serif;

    color: #333;
    margin: 0;
}


/* Fundo  */
body {
    background-color: #fdf5e6;
    margin: 0;

}
button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #f4b898;


}
button:hover {
    background-color: #c17e55;
}


/* Outros estilos de layout */
.title {

    text-align: center;
    color: #c17e55;
    font-size: 2.5rem;
    padding-inline: 20px;
    margin-bottom: 20px;
}


.page-container {
    display: grid;
    grid-template-areas: "menu pagina" "menu footer";
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto 60px;
    height: 100dvh;
    overflow: hidden;
}

.return {
    padding: 0px 0px;
    height: 30px;
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    align-content: center;
    background-color: #27ffd7;
}

.return.falha {
    background-color: #ff5656;
}

.return.sucesso {
    background-color: #a0eca9;
}