

/* Container do POST em si*/
.post {
    background-color: rgba(255, 217, 190, 0.67);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 280px;
    font-family: Arial, sans-serif;
}

/* Foto  e butão */
.post .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-user-profile {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    object-fit: cover;
    margin-right: 10px;
}

.post-user-nick {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
    color: #333;
}



.post-picture {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;

}
/* os butão */
.post-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}


/* BuTÕES */
.post .post-btn {
    background-color: #f4b898;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post .post-btn:hover {
    background-color: #e07753;
}

.post .post-btn.active {
    color: #fbe1d1;
    background-color: #e07753;

}

.post-btn.follow {
    background-color: #c17e55;
}

.post-btn.follow.active {
    color: #ffffff;

}

.post-btn-follow:hover {
    background-color: #f4c099;
}
