/* Estilo geral do menu lateral */
.sidebar {
    position: fixed;
    z-index: 1;
    width: 100px; /* Largura inicial do menu */
    height: 100%;
    background-color: rgba(255, 217, 190, 100);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

/* Estilo da logo (imagem com borda redonda) */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Estilo do menu (lista de navegação) */
.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    width: 15px;
    text-align: center;
}

.sidebar nav ul li {
    margin-bottom: 15px;
    width: 100%;
}

/* Links de navegação */
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #c17e55;
    font-size: 14px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 0;
    width: 100%
}

.menu-item span {
    font-size: 12px;
    margin-top: 5px;
}

/* Efeito hover nos itens do menu */
.menu-item:hover {
    background-color: #ffd9be;
    color: #c17e55;
    border-radius: 10px;
}

/* Ícones */
.menu-item span::before {
    display: block;
    font-size: 80px;
    margin-bottom: 5px;
}
/* Estilo geral do conteúdo (área de posts) */
.content {
    margin-left: 50px;
    padding: 100px;
}
.posts {
    display: flex;
    flex-wrap: wrap; /* Para garantir que os posts se ajustem */
    gap: 10px;
    margin-top: 20px;
    padding: 200px;
    position: relative; /* Modificado de absolute para relative */
    z-index: 10; /* Garantir que o conteúdo dos posts tenha um z-index maior */
}


.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
}



.post-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 70px;
    background-color: #ffd9be;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}

.username {
    color: #333;
}

.follow-btn {
    background-color: #f4b898;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.follow-btn:hover {
    background-color: #c17e55;
}

.post-image img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

@media screen and (max-width: 1024px) {
    .posts {
        grid-template-columns: repeat(2, 1fr); /* Altera para 2 colunas em telas menores */
    }
}

@media screen and (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .post-header {
        flex-direction: column;
        text-align: center;
    }
    .follow-btn {
        width: 90%;
        margin-top: 10px;
    }
}
